* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("/images/mainsofa.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    min-height: 100vh;
}

header{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 1rem;
    position: relative;
    justify-content: space-between;
}

header .logo{
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.28px;
    text-transform: capitalize;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    padding: 0 1rem;
}

header ul li a {
    text-decoration: none;
    color: #fff;
}

.hero {
    padding: 2rem;
    text-align: center;
}

.hero h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
}

.hero p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

form {
    margin-bottom: 2rem;
}

input[type=search] {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    margin-right: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background: purple;
    color: white;
    border: none;
    cursor: pointer;
}

.shopping-cart {
    position: relative;
    display: inline-block;
}

.shopping-cart img {
    width: 30px;
    height: auto;
}

.shopping-cart .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: orange;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.75rem;
    min-width: 20px;
    text-align: center;
}


.cart-count:empty:before {
    content: '0';
}


.cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.footer {*/
/*    background: #333;*/
/*    color: #fff;*/
/*    text-align: center;*/
/*    padding: 1rem;*/
/*}*/